@property --squircle-radius {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --squircle-radius-top-left {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --squircle-radius-top-right {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --squircle-radius-bottom-right {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --squircle-radius-bottom-left {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --squircle-fill {
  syntax: "<color>";
  inherits: false;
  initial-value: transparent;
}

@property --squircle-outline-color {
  syntax: "<color>";
  inherits: false;
  initial-value: transparent;
}

@property --squircle-outline {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --squircle-outline-top {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --squircle-outline-right {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --squircle-outline-bottom {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --squircle-outline-left {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@font-face {
  font-family: "Segoe Fluent Icons";
  src: url("../assets/SegoeFluentIcons.TTF");
  font-display: block;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-tap-highlight-color: transparent;

  color: var(--theme-text);

  --icon-font: "Segoe Fluent Icons";

  --theme-color: rgba(255, 255, 255, 0.8);
  --theme-text: rgba(0, 0, 0, 0.8);
  --theme-accent: rgba(22, 77, 49, 0.8);
  --theme-accent-background: #99cc99;
  --theme-accent-background-translucent: rgba(153, 204, 153, 0.3);
  --theme-accent-text: var(--theme-accent);
  --theme-selection: #2e5f5d;

  --surface-default: #f2f2f2;
  --surface-light: #f8f8f8;
  --surface-dark: #e6e6e6;
  --surface-darker: #e2e2e2;
  --surface-hover: #ffffff;
  --surface-active: #eee;
  --surface-pressed: #e9e9e9;
  --surface-glass: rgba(255, 255, 255, 0.4);
  --surface-glass-dark: rgba(240, 240, 240, 0.4);
  --surface-glass-darker: rgba(234, 234, 234, 0.4);

  --shadow-color: rgba(0, 0, 0, 0.1);
  --auto-shadow: none;

  --button-default: var(--surface-light);
  --button-hover: white;
  --button-active: #ddd;
  --button-main-default: #94dab5;
  --button-main-hover: #bbeed3;
  --button-main-active: #83b89c;
  --ghost-default: transparent;
  --ghost-hover: rgba(0, 0, 0, 0.08);
  --ghost-active: rgba(0, 0, 0, 0.16);

  --border-default: rgba(0, 0, 0, 0.1);
  --border-active: rgba(0, 0, 0, 0.14);
  --border-default-down: var(--border-down);
  --border-up: rgba(255, 255, 255, 0.1);
  --border-down: rgba(0, 0, 0, 0.2);

  --switch-hover: white;
  --switch-press: var(--theme-accent-background-translucent);
  --switch-active: var(--theme-accent-background);
  --switch-onActive: var(--theme-accent-text);

  --input-default: var(--surface-darker);

  --chat-own-back-default: var(--theme-accent-background);
  --chat-own-text-default: var(--theme-accent-text);
  --chat-other-back-default: var(--surface-hover);
  --chat-other-text-default: var(--theme-text);

  transition: all 0.2s;
  height: 100%;
  overflow: hidden;
}

html {
  background-color: #f3f3f3;
  height: 100%;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #202020;
  }
  body {
    --theme-color: rgba(0, 0, 0, 0.8);
    --theme-text: rgba(255, 255, 255, 0.8);
    --theme-accent: rgba(65, 155, 110, 0.8);
    --theme-accent-background: #234d34;
    --theme-accent-background-translucent: rgba(35, 77, 52, 0.3);
    --theme-accent-text: rgba(192, 255, 225, 0.8);
    --theme-selection: #497e77;

    --surface-default: #222;
    --surface-light: #242424;
    --surface-dark: #1c1c1c;
    --surface-darker: #1a1a1a;
    --surface-hover: #2a2a2a;
    --surface-active: #262626;
    --surface-pressed: #1f1f1f;
    --surface-glass: rgba(42, 42, 42, 0.6);
    --surface-glass-dark: rgba(32, 32, 32, 0.6);
    --surface-glass-darker: rgba(26, 26, 26, 0.6);

    --shadow-color: rgba(0, 0, 0, 0.3);
    --auto-shadow: var(--shadow-color);

    --button-default: #2e2e2e;
    --button-hover: #3c3c3c;
    --button-active: #2a2a2a;
    --button-main-default: #1c4933;
    --button-main-hover: #22573d;
    --button-main-active: #193f2d;
    --ghost-default: transparent;
    --ghost-hover: rgba(255, 255, 255, 0.05);
    --ghost-active: rgba(255, 255, 255, 0.1);

    --border-default: rgba(255, 255, 255, 0.06);
    --border-active: rgba(255, 255, 255, 0.1);
    --border-default-down: var(--border-default);

    --switch-hover: rgba(255, 255, 255, 0.06);
  }
}

*::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  border-width: 0;
  outline-width: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  vertical-align: middle;
}

*:focus {
  outline: none;
  transition: none;
}

*:not(input):focus-visible {
  outline: 0.125rem solid var(--theme-accent);
  outline-offset: 0.125rem !important;
  transition: none;
}

*::selection {
  color: white;
  background-color: var(--theme-selection);
}

span {
  display: grid;
  align-items: center;
  flex: 1 1 0;
}

input::placeholder {
  opacity: 0.5;
}

textarea {
  color: unset;
  background: none;
  font-size: 1rem;
  font-family: inherit;
}
