@font-face {
  font-family: "Segoe Fluent Icons";
  src: url("../assets/SegoeFluentIcons.TTF");
  font-display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-tap-highlight-color: transparent;

  color: var(--theme-text);

  --icon-font: "Segoe Fluent Icons";

  --theme-text: rgba(0, 0, 0, 0.8);
  --theme-accent: rgba(22, 77, 49, 0.8);
  --theme-accent-background: #99cc99;
  --theme-accent-background-translucent: rgba(153, 204, 153, 0.3);
  --theme-accent-text: var(--theme-accent);

  --surface-default: #f2f2f2;
  --surface-hover: #ffffff;
  --surface-active: #e2e2e2;
  --surface-pressed: #e2e2e2;
  --surface-glass: rgba(255, 255, 255, 0.4);

  --shadow-color: rgba(0, 0, 0, 0.1);

  --button-default: #f2f2f2;
  --button-hover: white;
  --button-active: #ddd;
  --ghost-default: transparent;
  --ghost-hover: rgba(0, 0, 0, 0.08);
  --ghost-active: rgba(0, 0, 0, 0.16);

  --border-default: rgba(0, 0, 0, 0.1);
  --border-active: rgba(0, 0, 0, 0.2);
  --border-default-down: var(--border-down);
  --border-up: rgba(255, 255, 255, 0.1);
  --border-down: rgba(0, 0, 0, 0.2);

  --switch-hover: White;
  --switch-press: var(--theme-accent-background-translucent);
  --switch-active: var(--theme-accent-background);
  --switch-onActive: var(--theme-accent-text);

  --input-default: var(--surface-hover);

  transition: all 0.2s;
  height: 100%;
  overflow: hidden;

  *::-webkit-scrollbar {
    display: none;
  }
}

html {
  background-color: #f3f3f3;
  height: 100%;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #202020;
  }
  body {
    --theme-text: rgba(255, 255, 255, 0.8);
    --theme-accent: rgba(51, 122, 86, 0.8);
    --theme-accent-background: #234d34;
    --theme-accent-background-translucent: rgba(35, 77, 52, 0.3);
    --theme-accent-text: rgba(192, 255, 225, 0.8);

    --surface-default: #222;
    --surface-hover: #2a2a2a;
    --surface-active: #262626;
    --surface-pressed: #1f1f1f;
    --surface-glass: rgba(42, 42, 42, 0.6);

    --shadow-color: rgba(0, 0, 0, 0.3);

    --button-default: #2e2e2e;
    --button-hover: #3e3e3e;
    --button-active: #222;
    --ghost-default: transparent;
    --ghost-hover: rgba(255, 255, 255, 0.05);
    --ghost-active: rgba(255, 255, 255, 0.1);

    --border-default: rgba(255, 255, 255, 0.1);
    --border-active: rgba(255, 255, 255, 0.2);
    --border-default-down: var(--border-default);

    --switch-hover: #333;
  }
}
