.markdown-body {
  h1 {
    justify-self: center;
  }
  h2 {
    margin-inline: 1.25rem;
  }

  p {
    padding-block: 0.25rem !important;
  }

  a {
    color: var(--theme-accent-text);
  }
  a:hover {
    text-decoration: dashed;
  }
  a:active {
    color: var(--theme-accent);
  }

  ul:has(input[type="checkbox"]) {
    list-style: none;
    padding-left: 0;
    margin-inline: 1.5rem;

    li {
      line-height: 1.5rem;
    }

    input[type="checkbox"] {
      appearance: none;
      flex-shrink: 0;
      align-self: flex-start;
      translate: 0 0.0625rem;
      height: 1rem;
      width: 1rem;
      margin: 0;
      background-color: var(--surface-default);
      border: var(--border-active) solid 0.0625rem;
      border-radius: 0.25rem;
    }

    input[type="checkbox"]:checked::before {
      color: var(--switch-onActive);
      font-family: var(--icon-font);
      content: "\e001";
      font-weight: bold;
    }
    input[type="checkbox"]:checked {
      background-color: var(--switch-active);
    }
  }

  pre {
    overflow: scroll;
    padding: 0.5rem;
    margin-inline: 1.5rem;
    background-color: var(--surface-default);
    border: var(--border-default) solid 0.0625rem;
    border-radius: 0.5rem;
  }
  pre code {
    background-color: unset;
    border: unset;
    border-radius: unset;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
    padding-inline: 0.25rem;
    background-color: var(--surface-default);
    border: var(--border-active) solid 0.0625rem;
    border-radius: 0.5rem;
  }
}
